extends ../_layout

block title
    |Evgeniy Talko — Обо мне

block content
    .wrapper
        include ../sections/_header

        include ../sections/_hero

        include ../sections/_about

        include ../sections/_map

        include ../sections/_footer
