extends ../_layout

block title
    |Evgeniy Talko — Обо мне

block header
    include ../sections/_header

block hero
    include ../sections/_hero

block about
    include ../sections/_about

block map
    include ../sections/_map

block footer
    include ../sections/_footer
