extends ../_layout

block vars
    - var body_class="welcome-body"

block title
    |Evgeniy Talko — Добро пожаловать

block content
    .welcome-wrapper
        include ../sections/_welcome-header

        include ../sections/_welcome-user-title

        include ../sections/_welcome-footer
