extends ../_layout

block vars

block title
    |Evgeniy Talko — Добро пожаловать

block content
    .welcome-wrapper
        include ../sections/_welcome-header

        include ../sections/_welcome-user-title
