extends ../_layout
block vars

block title
    |Evgeniy Talko — Мои работы

block content
    .wrapper
        include ../sections/_header

        include ../sections/_hero

        include ../sections/_works-pres

        include ../sections/_testimonials

        //- include ../sections/_footer
