section.about
    .about-info.about-left
        svg(viewbox="0 0 1000 100"
            preserveAspectRatio="none"
            class="about-info__poligon about-info__poligon--white")
            polygon(points="0,0 0,100 1000,100")
        +title("Обо мне", "about-header.png", "about-left-info__title", "h2")
        .about-left-info
            img(src="img/content/about.jpg" alt="").about-left-info__avatar
            .about-info-subtitle__wrapper
                h4.about-left-info__subtitle.about__subtitle Кто я?
            .about-left-info__descr.about-info__descr
                p Здравствуйте! Я Web-дизайнер и фронтэнд-разработчик. Проще-говоря делаю визуальную часть вплоть до анимации интерфейса. Мне нравится делать современные, интересные и удобные для пользователя проекты.
                p Этот сайт сделан в рамках обучения на проекте LoftSchool. Пока на нем довольно мало информации, но в скором времени я её дополню.
                p У меня есть один небольшой недостаток — я перфекционист, но, возможно для вас это окажется огромным плюсом.

    .about-info.about-right
        svg(viewbox="0 0 1000 100"
            preserveAspectRatio="none"
            class="about-info__poligon about-info__poligon--beige")
            polygon(points="0,100 1000,100 1000,0")
        .about-right-info
            .about-info-subtitle__wrapper
                h4.about-right-info__subtitle.about__subtitle Чем я могу быть вам полезен?
            .about-right-info__descr.about-info__descr
                p Больше всего меня привлекает работа с анимацией, но также я изучаю javascript и node.js, поэтому могу решать несложные задачи логики браузера. Но давайте по порядку.
        .about-right-info__data
