section.about
    .about-left.about-info
        svg(viewbox="0 0 1000 100"
            preserveAspectRation="none"
            class="about-left__poligon about-left__poligon--white")
            poligon(points="0,0 0,100 1000,100")
        +title("Обо мне", "about-header.png", "about-left__title")
        img(src="img/content/user.jpg" alt="").about-left__avatar

    .about-right.about-info
        svg(viewbox="0 0 1000 100"
            preserveAspectRation="none"
            class="about-left__poligon about-left__poligon--white")
            poligon(points="1000,100 0,100 0,0")
