footer.footer
    .footer-top-row
        nav.footer-top-row__items.footer-top-row__nav
            ul.top-row__nav-list
                li.top-row__nav-list-item
                    a.nav-list-item__link Мои работы
                li.top-row__nav-list-item
                    a.nav-list-item__link Обо мне
                li.top-row__nav-list-item
                    a.nav-list-item__link Блог
                li.top-row__nav-list-item
                    a.nav-list-item__link Авторизация

        ul.footer-top-row__items.footer-top-row__social-icons
                li.social-icons__item
                    a.social-icons__link
                        +icon("vk","footer-top-row--white", "footer-top-row--social")
                li.social-icons__item
                    a.social-icons__link
                        +icon("github","footer-top-row--white", "footer-top-row--social")
                li.social-icons__item
                    a.social-icons__link
                        +icon("in","footer-top-row--white", "footer-top-row--social")
    .footer-bottom-row
        .footer-bottom-row__items.footer-bottom-row__descr
            p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.

        .footer-bottom-row__items.footer-bottom-row__copyright
            p © Владимир Астахов | создано с любовью в LoftSchool | 2016
