header.header
    nav.top-nav
        ul.top-nav__items.top-nav__social-icons.social-icons__hor
                li.social-icons__item
                    a.social-icons__link
                        +icon("vk","top-nav__items--white", "top-nav__items--social")
                li.social-icons__item
                    a.social-icons__link
                        +icon("github","top-nav__items--white", "top-nav__items--social")
                li.social-icons__item
                    a.social-icons__link
                        +icon("in","top-nav__items--white", "top-nav__items--social")

        a.top-nav__items.top-nav__hamburger(href="#")
            +icon("hamburger","top-nav__items--white")
