section.hero
    .hero__bg.hero__item
        img(src="img/bg/portfolio.jpg" alt="").hero__bg-img

    .hero__title.hero__item
        img(src="img/decor/portfolio-header.png").hero__title-header-bg
        include _user-title

    a.hero__arrow-down(href="#")
        +icon("arrow_down", "arrow_down--white")
