section.map
    .map-contacts
        .map-contacts__heading-wrapper
            h3.map-contacts__subtitle.about__subtitle Контакты
            ul.map-contacts__list
                li.map-contacts-string.map-contacts-string-1
                    .map-contacts-string-wrapper
                        +icon("skype","map-contacts-string__icon")
                        .map-contacts-string__text skype_kdn
                li.map-contacts-string.map-contacts-string-1
                    .map-contacts-string-wrapper
                        +icon("envelope","map-contacts-string__icon")
                        .map-contacts-string__text astahov@gmail.com
                li.map-contacts-string.map-contacts-string-1
                    .map-contacts-string-wrapper
                        +icon("phone","map-contacts-string__icon")
                        .map-contacts-string__text +7 931 200 93 24
                li.map-contacts-string.map-contacts-string-1
                    .map-contacts-string-wrapper
                        +icon("map_marker","map-contacts-string__icon")
                        .map-contacts-string__text г.Новосибирск, ул. Инская, д. 5
