.hero__title-user-block
            .title-user-block__img
                .title-user-block__img-avatar
                    img(src="img/content/user.jpg" alt="")
            h1.title-user-block__heading.title-user-block__item--dark
                |Здравствуйте. Меня зовут <br> Евгений Талько.
            .title-user-block__descr.title-user-block__item--dark
                |Личный сайт вэб-дизайнера и разработчика.
