section.works
    .works__title-block
        .works__poligon-wrapper
            .works__poligon-left
                svg(height="160" viewbox="0 0 1000 100"
                    preserveAspectRatio="none"
                    class="about-info__poligon about-info__poligon--light-beige")
                    polygon(points="0,0 0,100 1000,100")
            .works__poligon-right
                svg(viewbox="0 0 1000 100"
                    preserveAspectRatio="none"
                    class="about-info__poligon about-info__poligon--light-beige")
                    polygon(points="0,100 1000,100 1000,0")

        .title-block__title-wrapper
            +title('Мои работы', 'works-header.png', 'about-left-info__title works__title', 'h2')

    .works__wrapper
        .works__left
            .loftschool-wrapper
                .works-left__subtitle-wrapper
                    h3.about__subtitle Сайт школы онлайн-образования
                .works-left__tags-wrapper
                    p html, css, javascript
                .works-left__button-wrapper
                    a.button-link(href="http://loftschool.ru") Перейти на сайт

        .works__right
            img(src="img/content/1.png").works-right__work-img
            .works-right__buttons-wrapper
                a(href="#").works-right__button-down
                    img(src="img/btns/down.jpg" alt="")
                a(href="#").works-right__button-up
                    img(src="img/btns/up.jpg" alt="")
