//- ---- Project vars -----//
- var production = false;
- var jQuery = false;
- var jQueryUI = false;

//- - var MenuArray = {items:[{title:'News/blog',active:false},{title:'Team and story',active:false},{title:'In the media',active:true},{title:'Careers',active:false},{title:'Online shop',active:false},{title:'Past projects',active:false},{title:'Parners',active:false},{title:'Contact',active:false}], gl_class: 'main_menu', gl_mod:'header_mod'}
